{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Test{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/test.scss') }}">
{% endblock %}

{% block body %}
    <h1>Ma page de test</h1>

    <p class="mon-test">Mon paragraphe</p>
{% endblock %}
